@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);
*{
    padding: 0;
    margin: 0;
}

#main-principal{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#000, #424242);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 8px solid #222;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#img-bacground{
    width: 100%;
    height: 100%;
    opacity: .5;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}
.main-titulos{
    width: 80%;
    height: auto;
    opacity: 1;
    color: #fff;
    position: relative;
    z-index: 1;
}
.main-titulos h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    width: 67%;
    text-align: center;
    margin: 0 auto;
}
.main-titulos h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.7rem;
    width: 67%;
    text-align: center;
    margin: 1rem auto;
}
.div-form{
    text-align: center;
    opacity: 1;
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
}
.div-form h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    margin: 1rem auto;
}
.div-form form{
    text-align: center;
    opacity: 1;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem ;
}
.div-form input{
    opacity: 1;
    width: 66%;
    padding: .9rem 0;
    font-size:1.2rem;
    outline: none;
}
.div-form button{
    opacity: 1;
    width: 33%;
    padding: .8rem 0;
    font-size:1.7rem;
    background-color: #de0611;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* formatação menu top */
#nav-menu-container{
    height: 4rem;
    width: 100%;
    position: absolute;
    top: 2%;
    left: -.1%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu{
    width: 91%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{
    width: 8.3rem;
    height: 2.25rem;
}
#opcoes{
    padding: .5rem 1.375rem;
    float: right;
    border: solid 1px #aaa;
    border-radius: 2px;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    margin-right: 1.5rem;
}
#entrarLogin{
    background-color: #e50914;
    color: #fff;
    padding: 7px 17px;
    font-size: 1rem;
    float: right;
    border-radius: 3px;
    text-decoration: none;
}

/* formatação section 1 */
#section1{
    border-bottom: 8px solid #222;
    padding: 40px 0;
    background-color: #000;
}
#card1{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#card-titulos{
    width: 52%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    font-weight: 400;
}
#titulo1{
    font-size: 3rem;
}
#subTitulo2{
    margin-top: 1.5rem;
    font-weight: 400;
    font-size: 1.6rem;
}
#card-imagem{
    position: relative;
    width: 48%;
    height: auto;
}
#img-tv{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}
#video{
    position: absolute;
    top: 20.5%;
    left: 13%;
    width: 73%;
    height: 13.5rem;
}
#video video{
    width: 100%;
}

/* formatação section 2 */
#section2{
    border-bottom: 8px solid #222;
    padding: 40px 0;
    background-color: #000;
}
#card-section2{
    max-width: 1100px;
    height: 25rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#card-section2-imagem{
    position: relative;
    width: 45%;
    height: 100%;
}
#img-mobile{
    position: relative;
    height: 100%;
    width: 100%;
}
#card-section2-download{
    width: 70%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid 2px #222;
    border-radius: 10px;
    padding: .5rem .5rem;
    position: absolute;
    bottom: 7%;
    left: 12%;
    background-color: #000;
}
#card-section2-download img{
    width: 15%;
    height: 100%;
}
#textos{
    color: #fff;
    font-size: .9rem;
    width: 60%;
    height: auto;
}
#gif{
    width: 15%;
    height: 70%;
}
#gif img{
    width: 100%;
    height: 100%;
}


#card-section2-titulos{
    width: 52%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    font-weight: 400;
}
#card-section2-titulo1{
    font-size: 3rem;
}
#card-section2-subTitulo2{
    margin-top: 1.5rem;
    font-weight: 400;
    font-size: 1.6rem;
}

/* formatação section 3 */
#section3{
    background-color: #000;
    color: #fff;
    border-bottom: 8px solid #222;
    padding: 40px 0;
}
#card-section3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
#card-section3-titulos{
    width: 52%;
}
#titulo1-card{
    font-size: 3rem;
}
#subTitulo2-card{
    font-size: 1.6rem;
    font-weight: 400;
    margin: 1rem 0;
}

#card-section3-imagem{
    position: relative;
    width: 48%;
}
#section3-img-tv{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}
#section3-video{
    position: absolute;
    bottom: 35%;
    left: 19%;
    width: 61%;
    height: 13.5rem;
}
#section3-video video{
    width: 100%;
}

/* formatação section 4 */
#section4{
    padding: 70px 0;
    background-color: #000;
    border-bottom: 8px solid #222;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#card-section4{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#card-section4-imagem{
    width: 45%;
}
#img-infantil{
    width: 100%;
    height: 100%;
}
#card-section4-titulos{
    width: 52%;
}
#card-section4-titulo1{
    font-size: 3rem;
    font-weight: 600;
}
#card-section4-subTitulo1{
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 1rem ;
}

/* formatação section 4 */
#section5{
    padding: 70px 45px;
    background-color: #000;
    border-bottom: 8px solid #222;
}
#card-section5{
    color: #fff;
}
#card-section5 ul{
    width: 75%;
    border: solid 1px #fff;
    margin: 2rem auto;
}
#card-section5 ul li{
    display: block;
    list-style: none;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0 0 8px 0;
}
.section5-texto{
    max-height: 1200px;
    background: #303030;
    display: none;
    padding: 1.2em;
}
.aparecer{
    display: inline-block;
}

.btn{
    width: 100%;
    cursor: pointer;
    padding: .8rem 2.2rem .8rem 1.2rem;
    margin-bottom: 1px;
    border: 0;
    font-weight: 400;
    text-align: left;
    background: #303030;
    cursor: pointer;
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fas{
    font-size: 3rem;
}

/* Formatação tela login */
#section-login{
    overflow: hidden;
    background-size: cover;
    background-color: #000;
    position: relative;
    color: #fff;
}
#section-login img{
    opacity: .6;
    object-fit: cover;
}
#conteudos{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#menu-logo{
    width: 100%;
    height: 90px;
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
}
#menu-logo a img{
    width: 167px;
    height: 45px;
    opacity: 1;
}
#formularioLogin{
    margin: 0 auto;
    width: 30%;
    background-color: rgba(0,0,0,.75);
    padding: 2rem 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
#formularioLogin h1{
    font-size: 2rem;
    margin: 2rem 0 0 2.3rem;
}

form{
    width: 80%;
    margin: 1rem auto;
}
#informacao{
    width: 100%;
    height: auto;
}
#informacao input{
    width: 93%;
    padding: .8rem .8rem;
    font-size: 1rem;
    border-radius: 5px;
    margin: .6rem 0;
    background-color: #333;
    border: none;
    outline: none;
    color: #fff;
}
#informacao button{
    width: 100%;
    padding: .8rem 0;
    font-size: 1rem;
    background-color: #e50914;
    color: #fff;
    border: none;
    font-weight: bolder;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;
}
#lembrete-ajuda{
    width: 100%;
    height: auto;
    padding: .5rem 0;
    color: #b3b3b3;
    font-size: .9rem;
    margin-top: .6rem;
}
#lembrete-ajuda a{
    float: right;
    color: #b3b3b3;
    text-decoration: none;
}
#conectar-face{
    width: 100%;
    height: auto;
    padding: .5rem 0;
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
}
#conectar-face i span{
    color: #737373;
    margin-left: .5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    cursor: pointer;
}
#conectar-face i{
    font-size: 1.4rem;
    background-image: #3b579d;
    cursor: pointer;
}
#assinar{
    width: 100%;
    height: auto;
    padding: .5rem 0;
    color: #737373;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#assinar a{
    color: #fff;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
#assinar a:hover{
    text-decoration: underline;
}

#aviso{
    width: 92%;
    height: auto;
    text-align: justify;
    color: #8c8c8c;
    font-size: .8rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin: 0 0 6rem 0 ;
}
#aviso p a{
    color: #0071eb;
    text-decoration: none;
}
#aviso p a:hover{
    text-decoration: underline;
}
#footer{
    width: 100%;
    height: 10rem;
    background-color: rgba(0,0,0,.75);
    position: absolute;
    bottom: 0;
    
}
#footer p{
    margin-top: 2%;
    margin-left: 13%;
    font-family: Arial, Helvetica, sans-serif;
    color: #737373;
}
#footer p a{
    color: #737373;
    text-decoration: none;
}
#footer p a:hover{
    text-decoration: underline;
}
#links{
    width: 75%;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content:  left;
    flex-direction: row;
    flex-wrap: wrap;
    font-family:Arial, Helvetica, sans-serif;

}
#links a{
    color: #737373;
    cursor: pointer;
    text-decoration: none;
    width: 20%;
    margin: .5rem;
    font-size: .9rem;
}
#links a:hover{
    text-decoration: underline;
}


@media all and (max-width: 760px){
    #main-principal{
        width: 100%;
        height: 100vh;
    }
    #img-bacground{
        width: auto;
        height: 100%;
        object-fit: cover;
        transform: none;
        max-width: 100%;
    }

    /* formatação menu top */
    #nav-menu-container{
        height: 4rem;
        width: 100%;
        position: absolute;
        top: 1%;
    }
    #logo{
        width: auto;
        height: 1.5rem;
    }
    #opcoes{
        padding: .25rem 1.375rem;
        float: right;
        border: solid 1px #aaa;
        border-radius: 2px;
        background-color: transparent;
        color: #fff;
        font-size: .875rem;
        margin-right: .8rem;
    }
    #entrarLogin{
        background-color: #e50914;
        color: #fff;
        padding: .25rem .5rem;
        font-size: .9rem;
        float: right;
        border-radius: 3px;
        text-decoration: none;
    }
}