*{
    padding: 0;
    margin: 0;
}

#main-principal{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#000, #424242);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
#img-bacground{
    width: 100%;
    height: 100%;
    opacity: .5;
    object-fit: cover;
}

/* formatação menu top */
#nav-menu-container{
    height: 4rem;
    width: 100%;
    position: absolute;
    top: 2%;
    left: -.1%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu{
    width: 91%;
    height: auto;
}
#logo{
    width: 8.3rem;
    height: 2.25rem;
}
#opcoes{
    padding: .5rem 1.375rem;
    float: right;
    border: solid 1px #aaa;
    border-radius: 2px;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    margin-right: 1.5rem;
}
#entrar-login{
    background-color: #e50914;
    color: #fff;
    padding: 7px 17px;
    font-size: 1rem;
    float: right;
    border-radius: 3px;
    text-decoration: none;
}

@media all and (max-width: 760px){
    #main-principal{
        width: 100%;
        height: 100vh;
    }
    #img-bacground{
        width: auto;
        height: 100%;
        object-fit: cover;
        transform: none;
        max-width: 100%;
    }

    /* formatação menu top */
    #nav-menu-container{
        height: 4rem;
        width: 100%;
        position: absolute;
        top: 1%;
    }
    #logo{
        width: auto;
        height: 1.5rem;
    }
    #opcoes{
        padding: .25rem 1.375rem;
        float: right;
        border: solid 1px #aaa;
        border-radius: 2px;
        background-color: transparent;
        color: #fff;
        font-size: .875rem;
        margin-right: .8rem;
    }
    #entrar-login{
        background-color: #e50914;
        color: #fff;
        padding: .25rem .5rem;
        font-size: .9rem;
        float: right;
        border-radius: 3px;
        text-decoration: none;
    }
}